#mainpage{
    
    min-height:85%;
    width: 70%;
    left:28%;
    top: 5%;
    max-width: 600px;
    position: absolute;
    background: #e6ecf0;
}

body{
    background: #e6ecf0;
}

.posts_data{
    postion: absolute;
    left: 50%;
    margin: 5%;
    padding: 5%;
    background: white;
    border-style: outset;
    border-width: 9px;
    border-color: blue;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.posts_data:hover {
    transition: 2s ease;
    border-width: 12px;
    background: lightgray;
    border-color: orange;
     
}

/*#mainpage .posts {*/
    /*border:1px;*/
    /*border-style: solid;*/
    /*top: 10%;*/
    /*width: 80%;*/
    /*min-height:10%;*/
    /*left: 0px;*/
    /*background: white;*/
    /*margin: 0% 0% 0% 0%;*/
/*}*/

